<div class="row-fluid height100">
    <div class="span9 height100">
        <section class="lecture-view height100">
            <header>
                <div>{{#linkTo course.index class="btn btn-success"}}Back to course{{/linkTo}}</div>
                <div>
                    Lecture # {{number}} : <h3>{{title}}</h3>
                </div>
            </header>
        </section>
    </div>
    <div class="span3">
        Questions
    </div>
</div>
