<div class="container">
  <header class="row">

    <div class="span12">
      <div class="navbar">
        <div class="navbar-inner">
          {{view App.AuthView}}
          {{#linkTo index class='brand'}}LMS Research{{/linkTo}}
          <ul class="nav">
            {{#linkTo courses tagName='li'}}
            {{#linkTo courses}}Courses{{/linkTo}}
            {{/linkTo}}
            <li>
              <a href="#">Second</a>
            </li>
            <li>
              <a href="#">Third</a>
            </li>
          </ul>
        </div>
        
      </div>
      <div id="errors-block"></div>
    </div>
  </header>
  
  <section class="row">
    <div class="span12">
      <div>
        {{outlet}}
      </div>
    </div>
  </section>
  <footer class="row">
    <div class="span12">
      &copy;2013
    </div>
  </footer>
</div>
