<div class="container">
  <header class="row">

    <div class="span12">
      <div class="navbar">
        <div class="navbar-inner">
          {{view App.AuthView}}
          <a class="brand">LMS Reserch</a>
          <ul class="nav">
            <li>
              <a href="#">First</a>
            </li>
            <li>
              <a href="#">Second</a>
            </li>
            <li>
              <a href="#">Third</a>
            </li>
          </ul>
        </div>
        
      </div>
      <div id="errors-block"></div>
    </div>
  </header>
  
  <section class="row">
    <div class="span12">
      {{outlet}}
    </div>
  </section>
  <footer class="row">
    <div class="span12">
      &copy;2013
    </div>
  </footer>
</div>
