<section class="row-fluid lecture-anons">
  <header class="span9">
    <span>Lecture #{{view.lectureIndex}}: {{#linkTo "lections.show" this}}{{title}}{{/linkTo}}</span>

    <span class="label label-info">{{contentType}}</span>
  </header>
  <div class="span3">
    {{view  "view.buttonView"}}
  </div>
</section>