<h2>{{title}}</h2>
<p>
  {{description}}
</p>
<div class="row-fluid">
  <div class="span8">
    <section class="panel curriculum">
      <header>
        Curriculum
      </header>
      <div class="content-body">
        {{#each sections}}
          {{view App.SectionAnonsView contentBinding="this"}}

        {{/each}}
      </div>

    </section>
  </div>
  <div class="span4">
    <section class="panel ratecourse">
      <header>
        <span>Rate this course</span>
        <span class="course-rating-control">
          {{view App.RaterView ratingBinding=myRating}}
        </span>
      </header>
    </section>
    <section class="panel questions">
      <header>Questions</header>
      <div class="question-input-panel">
        <form class="form-horizontal">
          <div class="control-group">
            <input type="text" class="question-input">
          </div>
          <div class="control-group">
            <button type="submit" class="btn">Ask</button>
          </div>
        </form>
      </div>
      <div class="content-body">
        questions
      </div>
    </section>
  </div>
</div>


