<strong>{{view.name}}</strong>
Email: {{view Ember.TextField valueBinding=view.email}}
<br/>
Password: {{ view Ember.TextField type='password' valueBinding=view.password }}
<br/>
<button class="btn btn-primary" data-action="login">Войти</button>
